body {
    background-color: bisque;
}
table {
        border: 5px solid red;
        width: 60%;
        height: 300px;
        background-color: black;
        
}
.a {
    background-color: rgb(138, 138, 241);
    color: gold;
    font-size: large;
}
.b {
    background-color: rgb(66, 13, 115);
    color: deeppink;
    font-size: large;
}